{% extends "base.html" %}
{% block title %}Strava Cycling Activity Analysis{% endblock %}
{% block content %}
    <br>
    <h2>This site performs a cycling specific analysis on Strava activity data.</h2>
    <br>

    <h3>Upload File</h3>
    Upload your gpx file below to see an analysis of your activity.<br>
    The gpx file for your activity can be downloaded from Strava.<br> 
    Click on the "..." icon on the activity's Strava page.
    <br>
    <br>
    <br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
{% endblock %}