{% extends "base.html" %}
{% block title %}Strava Activity Analysis{% endblock %}
{% block content %}

<style>
div.summary {
  padding-left: 20px;
}

</style>


    <br>
    <div class="summary">
    <h3>Yikes ... somethings gone wrong</h3>
    Usually this is because the file loaded has an issue in it.<br>
    You can fix this by making sure the file fully downloaded from Strava.<br>
    <br>
    If that's not it, maybe go for a bike ride, that always makes me feel better.


    <div/>
{% endblock %}
