{% extends "base.html" %}
{% block title %}Hourly Weather{% endblock %}
{% block content %}
<style>
div.summary {
  padding-left: 20px;
}

div.forecastHourly {
  padding-left: 20px;
}
</style>

    <div class="summary">
    <h2>{{ Temp }} {{curr_summary}}</h2>

    Humidity: {{ Humidity }}  &nbsp;&nbsp;&nbsp;
    Barometer: {{ Barometer}} &nbsp;&nbsp;&nbsp;
    Dewpoint: {{ Dewpoint }}  &nbsp;&nbsp;&nbsp;
    Visibility: {{ Visibility }}
    </div>

    <br>
    <div class="forecastHourly">
        {{ forecastHourly|safe }}



{% endblock %}
